<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h2><p>基本信息</p></h2>
    <p>姓名：王志国</p>
    <p>性别：男</p>    
    <p>籍贯：黑龙江省哈尔滨市</p>
    <p>政治面貌：中共党员</p>
    <p>民族：汉</p>
    <p>学校专业：中国石油大学 通信工程 学士；北京邮电大学 电子与通信工程 硕士</p>
  	<h2><p>联系方式</p></h2>
    <p>移动电话：18810802046</p>
    <p>电子邮件：zgwang24@163.com</p>    
    <p>通讯地址：北京市海淀区西土城路10号 北京邮电大学</p>
    <p>邮政编码：100876</p>
    <p>Github：https://github.com/zgwang24</p>
    <h2>求职意愿</h2>
    <p>软件开发-后台研发方向</p>
  </body>
</html>
